#between-primary {
    min-height: 55rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -4rem;
    opacity: 0;
}

#between-primary-left {
    position: relative;
}

#between-primary h1 {
    font-size: 5.5rem;
    color: #303a49;
}

#between-primary h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: #8eaad9;
}

@media screen and (max-width: 56.25em) { /* 900px / 16px = 56.25em */
    #between-primary {
        /*min-height: 100rem;*/
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
    }
}
