#card {
    height: 41.5rem;
    width: 100%;
    padding: 2rem;
}

#tall-card {
    height: 83rem;
    width: 100%;
    padding: 2rem;
}

#title-card {
    height: 55rem;
    width: 100%;
    padding: 2rem;
}

#card-img-bg {
    position: relative;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    background-color: silver;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#card, #tall-card, #title-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#card .card-text,
#tall-card .card-text,
#title-card .card-text
{
    position: absolute;
    bottom: 0;
    margin: 4rem 3rem;
    /*z-index: 99;*/
}

#card h1, #tall-card h1, #title-card h1 {
    color: white;
    font-size: 3.5rem;
    text-shadow: .1rem .1rem .1rem rgba(0,0,0,.5);
}

#card h3, #tall-card h3, #title-card h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #8eaad9;
    font-size: 1.6rem;
    font-weight: bolder;
    letter-spacing: .25rem;
    text-shadow: .1rem .1rem .1rem rgba(0,0,0,.5);
}

.card-transparency {
    position: absolute;
    bottom: 0;
    /*z-index: 0;*/
    width: 100%;
    height: 100%;
}

#card:hover,
#tall-card:hover
{
    animation: bigger-card .25s linear forwards;
}

@keyframes bigger-card {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.006);
    }
}

#card:hover .card-transparency,
#tall-card:hover .card-transparency,
#title-card:hover .card-transparency
{
    animation: gradient .25s linear forwards;
    background: rgb(93,93,93);
    background: linear-gradient(
            205deg,
            rgba(93,93,93,0) 0%,
            rgba(82,82,82,0.10968137254901966) 34%,
            rgba(17,17,17,0.6138830532212884) 98%
    );
}

@keyframes gradient {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

#video-bg {
    width: 100%;
    height: 100%;
    display: flex;
}

#title-video {
    width: 100%;
    object-fit: cover;
}
