.margin-b-xs {
    margin-bottom: 5rem;
}

#link-text {
    color: white;
    font-size: 1.125rem;
    font-weight: bolder;
    letter-spacing: .25rem;
    margin-bottom: 3rem;
}

#link-text:hover {
    color: #677288;
}
